<footer class="footer">
    <div class="footer-container">
        <div class="column logo-column">
            <img src="assets/img/logo.svg" loading="lazy" alt="Logo">
        </div>
        <div class="column">
            <h4>Destinations</h4>
            <p>Madrid</p>
            <p>Barcelona</p>
            <p>London</p>
            <p>Paris</p>
            <p>Rome</p>
        </div>
        <div class="column">
            <h4>Legal Information</h4>
            <p>Privacy policy</p>
            <p>Cookie policies</p>
            <p>data treatment</p>
        </div>
        <div class="column">
            <h4>Book Your Flight</h4>
            <p>Search flights</p>
            <p>Price calendar</p>
            <p>Destination map</p>
            <p>Flight times</p>
        </div>
        <div class="column">
            <h4 class="title-follow">Follow Us</h4>
            <div class="social-icons">
                <a href="/"><img src="assets/img/icon-twiter.png" alt="Icon-twiter"></a>
                <a href="/"><img src="assets/img/icon-facebook.png" alt="Icon-faccebook"></a>
                <a href="/"><img src="assets/img/icon-youtube.png" alt="Icon-youtube"></a>
            </div>
        </div>
    </div>
</footer>

<div class="bottom-footer">
    <span>Website terms of use</span>
    <span>|</span>
    <span>Site map</span>
    <span>|</span>
    <span>Environment</span>
    <span>|</span>
    <span>Contact.Us</span>
</div>
