<div class="container">
    <div class="section">
        <h2>Offers</h2>
    </div>
    <div class="slider">

        <div class="slide">
            <img src="assets/img/slide1.png" loading="lazy" alt="Image 1">
            <div class="clip-path-layer"></div>
            <div class="slide-content">
                    <h3>Chicago</h3>
                    <p>From $600.00</p>
            </div>
        </div>

        <div class="slide">
            <img src="assets/img/slide2.png" loading="lazy" alt="Image 2">
            <div class="clip-path-layer-center"></div>
            <div class="slide-content center">
                <h3>Porto</h3>
                <p>From $600.00</p>
            </div>
        </div>

        <div class="slide">
            <img src="assets/img/slide3.png" loading="lazy" alt="Image 3">
            <div class="clip-path-layer"></div>
            <div class="slide-content">
                <h3>Chicago</h3>
                <p>From $600.00</p>             
            </div>
        </div>
    </div>
    
    <!-- bottom section -->   
    <div class="bottom-section">
        <div class="image-and-text-container">
            <img src="assets/img/Intersect.png" class="img-section" loading="lazy" alt="Imagen completa">
            <div class="text-content">
                <h2>Our destinations</h2>
                <h3>Discover the world</h3>
                <p>Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
            </div>
        </div>
    </div>
</div>

